In [2]:
import pandas as pd

In [25]:
# df = pd.read_csv (r'~/Assignment 2 - AIT722/Meetup_Final_Data.csv')
df = pd.read_csv(r'~/Assignment 2 - AIT722/Meetup_Final_Data.csv', usecols = ['city', 'topic'])

In [26]:
print (df)

        topic         city
0        Arts  Great Falls
1        Food    Arlington
2       Local       Reston
3    Wellness        Bowie
4     Hobbies   Alexandria
..        ...          ...
158      Food   Washington
159      Arts     Sterling
160  Wellness   Washington
161      Arts  Washington
162      Food    Arlington

[163 rows x 2 columns]

In [18]:
df.describe()

           topic        city
count        163         163
unique         5          41
top     Wellness  Washington
freq          59          50

In [27]:
#fdf= df.loc [ df['topic'] == 'Hobbies' ]
#fdf.count()
#print(fdf)

In [ ]:
# Create a series / list of all cities

In [ ]:
# Create a dictionary of the form: [CITY: [num0, num1, num2, num3, num4 ] ]... a city to 5-vector for each of the topics - Arts, Food, Hobbies, Local, Wellness.
# To do this, for each city then create the vector; alternative is to do this and next step in one set of actions